body {
    background-color: #f8f9fa;
}

.card {
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
    color: white; /* Muda a cor do texto ao passar o mouse */
}

.selected {
    background-color: #007bff; /* Cor de fundo quando a opção é selecionada */
    color: white; /* Muda a cor do texto quando selecionado */
}

#form-container{
    margin-bottom: 30px;
    padding: 30px;
}

button{
    margin-top: 20px;
}

header {
    background: linear-gradient(to right, #490101, #ff0000); /* Gradiente vermelho */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 50px 0; /* Espaçamento superior e inferior */
    position: relative;
}

@keyframes pulse {     /*definir uma animação de pulsar*/
    0% {
        transform: scale(1); /* Tamanho original */
    }
    50% {
        transform: scale(1.05); /* Aumenta 5% */
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho original */
    }
}

.pulse {
    display: inline-block; /* Para que a animação funcione corretamente */
    animation: pulse 2s infinite; /* Nome da animação, duração e repetição infinita */
}

footer h1{
    text-align: center;
    padding: 20px;
}

#total-price{
    padding-top: 10px;
}
